{% extends 'altaVehiculo/index.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'altaVehiculo/css/style.css' %}">

{% block INDEX_TITULO %} 
    Alta vehiculo
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}

    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{ form.cliente_nombre.id_for_label }}">Nombre del Cliente:</label>
            {{ form.cliente_nombre }}
        </div>
        
        <div class="form-group">
            <label for="{{ form.cliente_apellido.id_for_label }}">Apellido del Cliente:</label>
            {{ form.cliente_apellido }}
        </div>
        
        <div class="form-group">
            <label for="{{ form.cliente_telefono.id_for_label }}">telefono del Cliente:</label>
            {{ form.cliente_telefono }}
        </div>
        
        <div class="form-group">
            <label for="{{ form.cliente_dni.id_for_label }}">dni del Cliente:</label>
            {{ form.cliente_dni }}
        </div>

        <div class="form-group">
            <label for="{{ form.cliente_domicilio.id_for_label }}">domicilio del Cliente:</label>
            {{ form.cliente_domicilio }}
        </div>
    
        <!-- Renderizar campos de vehículo -->
        <div class="form-group">
            <label for="{{ form.vehiculo_marca.id_for_label }}">Marca del Vehículo:</label>
            {{ form.vehiculo_marca }}
        </div>
        
        <div class="form-group">
            <label for="{{ form.vehiculo_modelo.id_for_label }}">Modelo del Vehículo:</label>
            {{ form.vehiculo_modelo }}
        </div>
        
        <div class="form-group">
            <label for="{{ form.vehiculo_patente.id_for_label }}"> patente del Vehículo:</label>
            {{ form.vehiculo_patente }}
        </div>

        <div class="form-group">
            <label for="{{ form.vehiculo_año.id_for_label }}">año del Vehículo:</label>
            {{ form.vehiculo_año }}
        </div>

        <div class="form-group">
            <label for="{{ form.vehiculo_km.id_for_label }}">kilometraje del Vehículo:</label>
            {{ form.vehiculo_km }}
        </div>
        <div>
            <input type="date" name="fecha_registro" required>fecha de ingreso:</input>
        </div>
        <div>
            <button type="submit">Guardar</button>
        </div>
</form>

{% endblock INDEX_CONTENIDO %}