{% extends 'altaVehiculo/index.html' %}


{% block INDEX_TITULO %} 
    Detalle del vehiculo
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
    
<h2>Detalles del cliente</h2>
<p>Nombre: {{ cliente.nombre }}</p>
<p>Apellido: {{ cliente.apellido }}</p>
<p>Teléfono: {{ cliente.telefono }}</p>

<h2>Detalles del vehículo</h2>
<p>Patente: {{ vehiculo.patente }}</p>
<p>Marca: {{ vehiculo.marca }}</p>
<p>Modelo: {{ vehiculo.modelo }}</p>
<p>fecha: {{object.fecha | date:"d/m/Y"}}</p>

<div>
<td><a href="{% url 'altaVehiculo:list' %}" class="btn btn-primary">atras</a></td>
</div>
{% endblock INDEX_CONTENIDO %}